$white: #fff;
$icons-btns: #ff3e79;
$divider: #eaeaea;
$main-backg: #f8f8f8;
$highlight: #41f6d7;
$main-text-color: #1b1c21;
$menu-text-links: #7e7e82;
$menu-text-link-focus: #b8ffec;

$aside-menu: #ffffff;
$background: #F8F8F8;
$border-color: #B8FFEC;
$border-color2: #D9FFF5;
$overlay-background: rgba(23, 23, 67, 0.2);